{% extends "app.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 p-5">
      <h2 class="fs-1 fw-bold mt-4">Todo lo que necesitas, en un solo lugar</h2>
      <p class="fs-2">Con nuestra tarjeta de crédito, lleva el control de tus finanzas con facilidad y estilo. ¡Adquiere tu tarjeta de crédito hoy y comienza a disfrutar de todos nuestros beneficios!</p>
      <a href="{% url 'request' %}" class="btn btn-outline-dark">Solicitar</a>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
    </div>
</div>
<h2 class="fs-3 fw-bold mb-4">Conoce más de nuestros productos</h2>
<hr class="mt-1">
<div class="row row-cols-auto justify-content-around">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Functionality</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Functionality</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Functionality</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}