{% extends "app.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/check.css' %}">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'js/check.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Confirmación OTP</h1>
<di class="otpCheck">
  <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <form action="#">
      <div class="input-field">
        <input type="number" />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
      </div>
      <button class="checkButton">Verificar OTP</button>
    </form>
  </div>
</div>
{% endblock %}